/*-->> contact me component style <<--*/
.sk-contact-me {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI5MCI+CjxnIHRyYW5zZm9ybT0ic2NhbGUoMSAxLjUpIj4KPHJlY3Qgd2lkdGg9Ijk5IiBoZWlnaHQ9Ijk5IiBmaWxsPSIjNmQ2OTVjIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSI0Mi40MiIgaGVpZ2h0PSI0Mi40MiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzAgMCkgcm90YXRlKDQ1KSIgZmlsbD0iIzYyNWY1MyI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMSIgdHJhbnNmb3JtPSJyb3RhdGUoNDUpIiBmaWxsPSIjNzE2ZjY0Ij48L3JlY3Q+CjxyZWN0IHdpZHRoPSI5OSIgaGVpZ2h0PSIxIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDYwKSByb3RhdGUoLTQ1KSIgZmlsbD0iIzcxNmY2NCI+PC9yZWN0Pgo8L2c+Cjwvc3ZnPg==");
}
  .sk-contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 120px 20px 50px;
    color: #333;
  }
    .sk-contact-form h1 {
      font-size: 30px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 50px;
      color: #fff;
      position: relative;
    }
    .sk-contact-form h1:after {
      position: absolute;
      content: '';
      background: url('../icons/contact-icon.svg');
      background-size: 100%;
      width: 333px;
      height: 17px;
      left: 50%;
      top: 6px;
      transform: translate(-50%);
    }
    .sk-contact-form .form-input {
      margin-bottom: 20px;
    }
      .sk-contact-form .form-input label {
        font-size: 18px;
        font-weight: 400;
        display: block;
        margin-bottom: 8px;
        color: #fff;
      }
      .sk-contact-form .form-input textarea,
      .sk-contact-form .form-input input {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 25px;
        padding: 5px 20px;
        font-size: 18px;
        border:  none;
        border-bottom: 2px solid #00BCD4;
        background: #eee;
        color: #333;
        outline: none;
      }
      .sk-contact-form .form-input textarea {
        min-height: 200px;
        padding: 20px;
      }
      .sk-contact-form .submit-btn {
        width: 150px;
        height: 40px;
        line-height: 37px;
        display: block;
        text-align: center;
        background: #eee;
        color: #333;
        border: 2px solid #00BCD4;
        font-size: 18px;
        text-transform: uppercase;
        border-radius: 5px;
      }
      .sk-contact-form .submit-btn:hover {
        background: #666;
        color: #fff;
      }
  /*-- message-sent-status --*/
  .message-sent-status {
    font-size: 15px;
    color: #fff;
    background: rgba(0, 255, 0, 0.5);
    padding: 10px;
    position: fixed;
    top: 10vh;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.1s;
  }
  .message-sent-status.show {
    opacity: 1;
    visibility: visible;
  }
  .message-sent-status.show.error {
    background: rgba(255, 0, 0, 0.5);
  }