/*-->> header style <<--*/
.App-header {
  background-color: rgba(20, 90, 250, 1);
  padding: 3px 50px;
  color: white;
  position: fixed;
  z-index: 10;
  width: 100%;
}
.sk-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/*-->> nav style <<--*/
.sk-header nav {
  width: 70%;
  position: absolute;
  right: 4px;
  z-index: 2;
  top: 6px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}
.active-page {
  color: rgba(20, 90, 250, 1);
  background-color: #fff;
}
@media only screen and (max-width: 1023px) {
  .sk-header nav {
    width: 50%;
  }
  .mobile-nav {
    opacity: 0;
    visibility: hidden;
    transition: all linear 0.1s;
  }
  .mobile-nav.open {
    opacity: 1;
    visibility: visible;
  }
  nav ul {
    right: -100%;
    transition: all 0.3s ease-in-out;
    flex-direction: column;
    position: relative;
    padding-top: 50px;
  }
  nav ul:before {
    content: '';
    transition: all 0.2s ease-in-out;
  }
  nav ul.mobile.open {
    display: flex;
    right: 0;
  }
  nav ul.mobile.open:before {
    content: '';
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
  }
}
  nav ul li {
    list-style: none;
    position: relative;
    transition: all 0.3s ease-in-out;
    padding-top: 4px;
    margin-left: 4px;
  }

    nav ul li a {
      text-transform: uppercase;
      font-size: 15px;
      color: #fff;
      font-weight: 500;
      text-decoration: none;
      transition: all 300ms ease-in-out;
      background-color: rgba(20, 90, 250, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px 10px 4px;
      position: relative;
      z-index: 9;
      line-height: 1.4;

    }
    @media only screen and (max-width: 1023px) {
      nav ul li {
        width: 100%;
        right: -100%;
      }
      nav ul li:first-child {
        transition: all 0.2s ease-in-out;
      }
      nav ul li:nth-child(2) {
        transition: all 0.4s ease-in-out;
      }
      nav ul li:nth-child(3) {
        transition: all 0.6s ease-in-out;
      }
      nav ul li:nth-child(4) {
        transition: all 0.8s ease-in-out;
      }
      nav ul li:nth-child(5) {
        transition: all 1s ease-in-out;
      }
      nav ul li:nth-child(6) {
        transition: all 1.2s ease-in-out;
      }
      nav ul.mobile.open li {
        right: 0;
        padding-top: 6px;
      }
        nav ul li a {
          justify-content: flex-start;
          padding: 15px;
        }
    }
    nav ul li a:hover {
      color: rgb(12, 25, 22);
    }

      nav ul li a span {
        height: 40px;
        width: 2px;
        background-color: rgba(20, 90, 250, 1);
        position: absolute;
        left: calc(50% - 2px);
        top: -40px;
        display: none;
      }
      nav ul li a span:after {
        content: '';
        height: 45px;
        width: 2px;
        background-color: rgba(20, 90, 250, 1);
        position: absolute;
        right: 8px;
        top: 0;
        transform: rotate(25deg);
      }
      nav ul li a span:before {
        content: '';
        height: 45px;
        width: 2px;
        background-color: rgba(20, 90, 250, 1);
        position: absolute;
        left: 8px;
        top: 0;
        transform: rotate(-25deg);
      }
/*-->> logo style <<--*/
.sk-header .logo {
  font-size: 24px;
  font-weight: bold;
  color: lightcoral;
  position: absolute;
  left: 5px;
  top: 10px;
}
.logo img {
  width: 115px;
  background: #fff;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



/* humburger menu */

#nav-icon1 {
  width: 30px;
  height: 24px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 4px;
  padding: 6px;
  box-sizing: content-box;
  background: rgba(20, 90, 250, 1);
  display: none;
  border-radius: 3px;
  z-index: 10;
}
@media only screen and (max-width: 1023px) {
  #nav-icon1 {
    display: block;
  }
}
#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 30px;
  background: #fff;
  border-radius: 6px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg) translate(6px, 6px);
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 12px;
  transform: rotate(135deg) translate(-2px, -7px);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -30px;
}

#nav-icon1.open span:nth-child(3) {
  top: 12px;
  transform: rotate(-135deg) translate(-7px, 2px);
}
	@media only screen and (max-width: 767px) and (min-width: 320px) {
    .sk-header nav {
      width: 70%;
    }
  }
